{% extends 'base.html'%}
{% load static%}
{%block title%}SIGN_UP_PAGE{% endblock %}
 {% block content%}
<div class="container">
      <div class="row">
       <div class="col-sm-6 offset-3">
        <form action="" method="post">
      {% csrf_token%}
      {% for fm in form%}
      {{fm.label_tag}}{{fm}}<br>
      {{fm.errors.message|striptags}}
      {% endfor%}
      <button type="submit" class="btn btn-outline-success">Signup</button>
     </form>
       </div>
      </div>
</div>
{% endblock content%}